.header{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

.header .container{
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu a{
    font-size: 1.1rem;
    font-weight: 600;
    transition: .3s;
}

.nav-menu a:hover{
    color: var(--primary);
}

.menu-btn{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .menu-btn{
        display: flex;
    }

    .header .nav-menu{
        flex-direction: column;
        justify-content: start;
        position: absolute;
        top: 90px;
        right: -100%;
        height: calc(100vh - 90px);
        width: 300px;
        background-color: #fff;
        z-index: 2;
        box-shadow: rgb(0 0 0 / 15%) 0px 7px 10px;
        transition: .4s;
    }

    .header .nav-menu.active{
        right: 0;
    }

    .nav-menu li{
        padding: 1rem;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .nav-menu a{
        width: 100%;
        display: block;
        font-size: 1rem;
    }
}





















